body {
  padding: 50px;
  background-color: rgb(234, 239, 247);
}

#main-content { 
	padding-top: 50px;
}

h1 {
  border-bottom: 1px solid gray;
  margin-top: 0;
}

hr {
    display: block;
    height: 1px;
    border: 1;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* View: Match list */
.matches {
  list-style: none;
}

.matches li {
  clear: both;
  height: 100px;
  /*padding-top: 15px;*/
}

div.vertical-line{
      width: 0px; /* Use only border style */
	  height: 100%;
      float:right;
      border: 1px inset; /* This is default border style for <hr> tag */
}

.thumb {
  padding-left: 2em;	
}

.matchup {
  padding-left: 1em;
}

/*
.match {
  background-color: white;
  display: none;
  float: left;
  height: 400px;
  margin-bottom: 2em;
  margin-right: 3em;
  padding: 2em;
  width: 400px;
}

.match:first-child {
  display: block;
}

.match-images {
  background-color: white;
  float: left;
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.match-thumbs {
  list-style: none;
  margin: 0;
}

.match-thumbs img {
  height: 100px;
  padding: 1em;
  width: 100px;
}

.match-thumbs li {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 1em;
}

.specs {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.specs dt {
  font-weight: bold;
}

.specs > li {
  display: inline-block;
  vertical-align: top;
  width: 200px;
}

.specs > li > span {
  font-size: 1.2em;
  font-weight: bold;
}
*/