<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>

    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="matches">
        <li ng-repeat="match in $ctrl.matches | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail match-list-item">
			
			<table width="100%">
				<tr><th>
					<div>{{match.Timestamp | date:'dd/MM/yyyy @ HH:mm:ss'}}</div>
				</th></tr>
				<tr><td>
					<img class="thumb-left" ng-src="{{$ctrl.hostteam.imageUrl}}" alt="{{$ctrl.hostteam.id}}" />
					<div class="matchup">{{$ctrl.hostteam.name}}  {{match.HostGoals}} - {{match.GuestGoals}}  {{$ctrl.guestteam.name}}</div>
					<img class="thumb-right" ng-src="{{$ctrl.guestteam.imageUrl}}" alt="{{$ctrl.guestteam.id}}" />
				</td></tr>
			</table>
        </li>
      </ul>

    </div>
  </div>
</div>
